<h1>Thread List</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Title</th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <td><%= link_to board.title, board %></td>
    <!--<td><%= link_to 'Show', board %></td>-->
    <td><%= link_to 'Edit', edit_board_path(board) %></td>
    <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<div style='text-align:center'>
  <%= link_to 'New Board', new_board_path, :class => 'btn btn-large' %></div>
