<h1>Thread List</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Title</th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <td><%= link_to board.title, board %></td>
    <!--<td><%= link_to 'Show', board %></td>-->
    <% if user_signed_in? %>
      <td><%= link_to 'Edit', edit_board_path(board), :class => 'btn btn-mini' %>
      <%= link_to 'Destroy', board, :class => 'btn btn-mini', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
<div style='text-align:center'>
  <%= link_to 'New Board', new_board_path, :class => 'btn btn-large' %></div>
<% end %>
